.Div {
  display: flex;
  height: 100vh;
  overflow: initial;
  bottom: 0;
  position: sticky;
  z-index: 100;
  top: 0;
}

.Sidebar {
  background-color: #fb6083;
  color: #000010;
}

.SidebarHeaderLink {
  font-family: Comfortaa, sans-serif;
  text-decoration: none;
  color: #000010;
}

.SidebarMenuItem {
  color: #000010;
}

@media (min-width: 1200px) {
  .SidebarHeaderLink {
    font-size: 2rem;
  }

  .SidebarMenuItem {
    font-size: 1.25rem;
  }
}
