.Div {
    display: flex;
    height: 100vh;
    overflow: scroll initial;
}

.SideBar {
    background-color: #FB6083;
    color: #000010;
}

.SideBarHeader {
    text-decoration: none;
    color: #000010;
}