.Div {
    display: flex;
    height: 100vh;
    overflow: scroll initial;
}

.Sidebar {
    background-color: #FB6083;
    color: #000010;
}

.SidebarHeaderLink {
    text-decoration: none;
    color: #000010;
}

.SidebarMenuItem {
    color: #000010;
}
