.NavbarLinks {
    color: #000010;
    padding: 0 10px;
    text-decoration: none;
}

.NavbarLinks:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .NavbarLinks {
        font-size: 1.375rem;
    }
}