.App {
  font-family: Nunito, sans-serif;
  background-color: white;
  min-height: 100vh;
  /* position: absolute; */
}

.Header {
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
}

.OutletDiv {
  padding-left: 80px;
}
