.App {
  font-family: Nunito, sans-serif;
  background-color: white;
  min-height: 100vh;
}

.Header {
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
}

.Button {
  background-color: #f5dfbb !important;
  color: #000010 !important;
  border-color: #00001014 !important;
}

.Button:hover {
  background-color: #fb6083 !important;
  border-color: transparent !important;
}

.Hero {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Adjust z-index of welcome text navbar to allow the sidebar to be toggled on smaller screens */
.WelcomeNav {
  z-index: 999 !important;
}

.RowHeight {
  height: 500px;
}

@media (min-width: 992px) {
  .Container {
    margin-top: 80px;
  }
}
